{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 mt-4 right">
        <h1>{{ post.title|title }}</h1>
        <p class="card-text text-muted">{{ post.author }}｜{{ post.pub_date }}</p>
        <p class="card-text">{{ post.content|linebreaks }}</p>

        <div class="container my-4">
            <h2>Comment</h2>
            <div class="col mt-3 left">
                {% for comment in post.comment.all %}
                    <div class="card">
                        <p class="card-text">{{ comment.commenter }}｜{{ comment.pub_date }}</p>
                        <p class="card-text">{{ comment.content|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p class="text-muted">No comment recently</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}