{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 mt-4 right">
        <h1>{{ post.title|title }}</h1>
        <p class="card-text text-muted">
            {{ post.author }}｜{{ post.pub_date }}
                <div class="dropdown text-right">
                    <i style="cursor: pointer" id="postFunctionsDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&hellip;</i>
                     <div class="dropdown-menu" aria-labelledby="postFunctionsDropdownMenu">
                        {% if post.author == request.user %}
                        <a class="dropdown-item" href="{% url 'post_update' post.slug %}">Edit<i class="fa fa-pencil float-right"></i></a>
                        <a class="dropdown-item" href="#">Delete<i class="fa fa-trash float-right"></i></a>
                        {% endif %}
                        {% if post in request.user.collection.posts.all %}
                            <a class="dropdown-item" href="{% url 'post_unsaved' post.slug %}">Unsaved<i class="fa fa-bookmark-o float-right"></i></a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'post_saved' post.slug %}">Saved<i class="fa fa-bookmark float-right"></i></a>
                        {% endif %}
                    </div>
                </div>
        </p>
        <h5 class="card-text" style="font-size: 24px">{{ post.content|linebreaks }}</h5>
        {% for tag in post.tags.all %}
            <a href="{% url 'tag_posts' tag.slug %}" class="mr-1 badge badge-light">#{{ tag }}</a>
        {% endfor %}

        <div class="container my-4">
            <h2>Comment</h2>
            <div class="col mt-3">
                {% for comment in post.comment.all %}
                    <div>
                        <p class="card-text"><span class="h5">{{ comment.commenter }}</span>｜<span class="text-muted">{{ comment.pub_date }}</span></p>
                        <p class="card-text">{{ comment.content|linebreaks }}</p>
                        <hr>
                    </div>
                {% empty %}
                    <p class="text-muted">No comment recently</p>
                {% endfor %}
            </div>
        </div>

        <div class="container my-4">
            <form method="post" novalidate>
                {% csrf_token %}

                <p>
                    {{ form.content }}
                </p>

                <p class="text-right">
                    <button type="submit" class="btn btn-primary">Comment</button>
                    <button type="button" class="btn btn-secondary" onclick="history.back();">Back</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}