<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" href="{% url "index" %}">⌬｜Buffer Overflow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Navbar-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="personal-navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="#personal-navbarDropdown">
                                <a class="dropdown-item" href="{% url 'personal_posts' %}">Personal Posts</a>
                                <a class="dropdown-item" href="{% url 'post_create' %}">Post</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'sign_up' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>