{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 mt-4">
        {% for post in posts %}
            <div class="card mb-4" style="cursor: pointer" onclick="window.location.href='{% url 'post_detail' post.slug %}'">
                <div class="card-body">
                    <div class="card-title h2">{{ post.title|title }}</div>
                    <p class="card-text text-muted">{{ post.author }}｜{{ post.pub_date }}</p>
                    <p class="card-text">{{ post.content|slice:':150' }}</p>
                    <p>
                        {% for tag in post.tags.all %}
                            <span class="mr-1 badge badge-light">#{{ tag }}</span>
                        {% endfor %}
                    </p>
                    <p class="card-text text-muted">
                        {% if post.comment.count != 0 %}
                            {{ post.comment.count }} comment{{ post.comment.count|pluralize }}
                        {% else %}
                            {{ post.comment.count }} comment
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}