<style>
    .card {
        box-shadow: 0 4px 8px #E3E7EB;
    }
    #sidebar a{
        text-decoration: none;
    }
</style>

<div id="sidebar" class="col-md-2">
    <div class="card my-4 text-center">
        <a href="{% url 'index' %}" class="card-header">Home</a>
    </div>
    <div class="card my-4 text-center">
        <a href="{% url 'tags' %}"class="card-header" >Tags</a>
    </div>
    <div class="card my-4 text-center">
        <a href="{% url 'post_create' %}" class="card-header">New Post</a>
    </div>
</div>
